
.entry-container{
    text-align: center;
}
.rank{
    height: 5rem;
    background: green;
    margin-top: 10px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swagger{
    
    background: gray;
}